@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap&family=Satisfy&display=swap');


.selected {
    background-color: #dc3545;
    color: white;
}

table, th, td {
    border-collapse: collapse;
    border: 0.5px solid black;
}

body {
    background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea); 
    
}

.navbar-brand {
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-link{
    font-family: 'Poiret One', sans-serif;
    color: white;
    font-size: 17px;
}

#main-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}